html{
  font-size:62.5%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: linear-gradient(to right bottom, #faa2c1,#f03e3ea2,#da77f2);
  height:100vh;
  font-family: 'Bitter', serif;
  color:#222;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container{
  width:60%;
height:80%;
  display: flex;
 text-align: center;
 position: relative;
 background-color: #eeeeee41;
border-radius:8px;
overflow: hidden;
}
.dice-img{
  width:20%;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
}
.hidden{
  display:none;
}
.container1{
  width:100%;
  

}
.active{
  background-color: #eeeeee88;

}
.container2{
  width:100%;

}
.btn{
  font-weight: 500;
  text-transform: uppercase;
  background-color: #eeeeeea8;
  font-size: 1rem;
  letter-spacing: 0.5px;
  display:inline-block;
  padding:0.6rem 1.2rem;
  border-radius: 2rem;
  cursor:pointer;
  border:none;

}

.winner{
  background-color: #222;
}

.btn-new{
position:absolute;
left:50%;
top:5%;
transform:translateX(-50%);
}
.btn-roll{
  position:absolute;
  left:50%;
transform:translateX(-50%);
}
.btn-hold{
  position:absolute;
  left:50%;
  transform:translate(-50%,150%)
}
.player0,.player1{
  font-size: 3.2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-top:15%
}
.score1,.score0{
  font-size: 6.4rem;
  color:#f03e3ea2;
  margin-top: 5%;
}
.sub-container1,.sub-container2{
  margin-top: 30%;
  text-transform: uppercase;
  background-color:#f03e3ea2 ;
  display:inline-block;
  padding: 1.2rem 4rem 1.6rem;
  border-radius: 4px;
}
.current1,.current0{
  color:#eee;
  font-size: 1.4rem;
  letter-spacing: 0.8px;
  font-weight: 500;
  margin-bottom: 15%;
}
.current-score1,.current-score0{
  font-size: 3.2rem;
  color:#eee;

}